<h1 id="edit-profile-header">Edit Profile</h1>
<%= form_for @profile, :method => :PUT do |f| %>
    <%= label('first-name', 'First name') %>
    <%= text_field_tag('first_name', @user_information['first_name'], id: 'first-name', data: { reflex: 'keyup->EditProfile#set_information_field', user_information: @user_information }) %>
    <%= label('last-name', 'Last name') %>
    <%= text_field_tag( 'last_name', @user_information['last_name'], id: 'last-name', data: { reflex: 'keyup->EditProfile#set_information_field', user_information: @user_information }) %>
    <%= label('phone-number', 'Phone number') %>
    <%= text_field_tag('phone_number', @user_information['phone_number'], id: 'phone-number', data: { reflex: 'keyup->EditProfile#set_information_field', user_information: @user_information }) %>
    <%= label('profile-image', 'Profile image') %>
    <%= f.file_field(:profile_image, id: 'profile-image-upload') %>
    <%= label('user-bio', 'Bio') %>
    <%= text_field_tag('bio', @user_information['user_bio'], id: 'user-bio', data: { reflex: 'keyup->EditProfile#set_information_field', user_information: @user_information }) %>
    <%= label('github-address', 'Github') %>
    <%= text_field_tag('github', @user_information['externals']['github'], id: 'externals-github-address', data: { reflex: 'keyup->EditProfile#set_information_field', user_information: @user_information }) %>
    <%= label('twitter-address', 'Twitter') %>
    <%= text_field_tag('twitter', @user_information['externals']['twitter'], id: 'externals-twitter-address', data: { reflex: 'keyup->EditProfile#set_information_field', user_information: @user_information }) %>
    <%= label('facebook-address', 'Facebook') %>
    <%= text_field_tag('facebook', @user_information['externals']['facebook'], id: 'externals-facebook-address', data: { reflex: 'keyup->EditProfile#set_information_field', user_information: @user_information }) %>
    <%= label('instagram-address', 'Instagram') %>
    <%= text_field_tag('instagram', @user_information['externals']['instagram'], id: 'externals-instagram-address', data: { reflex: 'keyup->EditProfile#set_information_field', user_information: @user_information }) %>
    <%= label('site-address', 'Your Site') %>
    <%= text_field_tag('site', @user_information['externals']['site'], id: 'externals-site-address', data: { reflex: 'keyup->EditProfile#set_information_field', user_information: @user_information }) %>
    <%= f.hidden_field(:user_information, value: @user_information) %>
    <%= f.submit %>
<% end %>
