<% if @current_link['Home'] = '/' %>
    <nav class="navbar navbar-expand-md navbar-dark bg-smoky-black px-2 py-1">
<% elsif !@current_link.nil? %>
    <nav class="navbar navbar-expand-md navbar-dark bg-smoky-black shadow px-2 py-1">
<% else %>
    <nav class="navbar navbar-expand-md navbar-dark bg-smoky-black px-2 py-1">
<% end %>
    <a href="/" class="navbar-brand">
        <%= image_tag 'devbackbone-flatt.png', class: 'd-none d-md-flex shadow', style: 'position: absolute; height: 100px; top: 5px;' %>
        <%= image_tag 'devbackbone-flatt.png', class: 'd-none d-sm-flex d-md-none shadow', style: 'position: absolute; height: 74px; top: 2px; left: 3px;' %>
        <%= image_tag 'devbackbone-flatt.png', class: 'd-sm-none shadow', style: 'position: absolute; height: 54px; top: 2px; left: 3px;' %>
    </a>
    <button class="navbar-toggler" type=button data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <% if !@current_link.nil? %>
                <li class="nav-item active">
                    <%= link_to(@current_link.keys.first, @current_link[@current_link.keys.first], class: 'nav-link') %>
                </li>
            <% end %>
            <% if @dropdown_links[@dropdown_links.keys.first] != [] %>
                <li class="nav-item dropdown">
                    <a id="navbarDropdown" href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= @dropdown_links.keys.first %>
                    </a>
                    <div class="dropdown-menu bg-smoky-black" aria-labelledby="navbarDropdown">
                        <% @dropdown_links[@dropdown_links.keys.first].each do |l| %>
                            <%= link_to(l.keys.first, l[l.keys.first], class: 'dropdown-item text-light') %>
                        <% end %>
                    </div>
                </li>
            <% end %>
            <% @available_links.each do |l| %>
                <li class="nav-item">
                    <% classes = '' %>
                    <% if l.keys.first == 'Sign out' %>
                        <% display = l.keys.first %>
                        <% method = :delete %>
                    <% elsif l.keys.first == 'Profile' %>
                        <% if Profile.exists?(user_id: current_user.id) %>
                            <% display = image_tag(Profile.find_by(user_id: current_user.id).profile_image.variant(resize: "40x40")) %>
                            <% classes = 'py-0' %>
                        <% else %>
                            <% display = 'Profile' %>
                        <% end %>
                        <% method = :get %>
                    <% else %>
                        <% display = l.keys.first %>
                        <% method = :get %>
                    <% end %>
                    <%= link_to(display, l[l.keys.first], id: l.keys.first.downcase.gsub(' ', '-'), :method => method, class: "nav-link #{classes}") %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>
