<% content_for :title, 'Home' %>

<% @current_link = {'Home' => root_path} %>
<% @dropdown_links = {'' => []} %>
<% if user_signed_in? %>
    <% @available_links = [{'Profile' => profile_path(current_user.id)}] %>
    <% @dropdown_links = {'Projects' => [{'New project' => new_project_path}]} %>
    <% if Profile.exists?(user_id: @current_user.id) %>
        <% Profile.find_by(user_id: @current_user.id).user_information_safe['projects'].each do |p| %>
            <% project = Project.find(p.keys.first) %>
            <% @dropdown_links['Projects'] << {project.project_name => project_path(project.id)} %>
        <% end %>
    <% end %>
<% else %>
    <% @available_links = [{'Sign in' => new_user_session_path}, {'Sign up' => new_user_registration_path}] %>
<% end %>
<%= render 'shared/navbar' %>




<!-- content-container - container-lg (responsive) -->
<div id="content-container" class="container-fluid">


    <div class="row">
        <div class="column">
            <div class="bg-smoky-black p-1">
                <h1 class="text-center text-lavender">Welcome to <strong class="border-bottom border-lavender">devbackbone</strong>!<br><small class="text-muted"><strong>The perfect place to learn <em class="text-eton-blue">Agile </em>team development practices!</small></h1>
            </div>
            <div class="d-md-flex flex-row justify-content-between mt-md-2 mt-3 mx-3">
                <div class="column rounded text-center shadow bg-lavender px-0 w-100 mr-md-2">
                    <h4 class="bg-ess-blue rounded-top">What is Agile?</h4>
                    <p class="m-3">Agile is a <%= link_to('nonprescriptive process model', 'https://medium.com/omarelgabrys-blog/software-engineering-software-process-and-software-process-models-part-2-4a9d06213fdc') %> for the development of software. Agile delivers a higher rate of success in software development by focusing not on <%= link_to('documentation', 'https://medium.com/it-dead-inside/technical-documentation-a-different-approach-af49cadfcfbc') %> or following a plan, but instead has working iteratations with constant client feedback. Those who are new to Agile should check out the <em><%= link_to('Agile Manifesto', 'https://agilemanifesto.org/') %></em>.</p>
                </div>
                <div class="column rounded text-center shadow bg-lavender px-0 w-100 ml-md-2">
                    <h4 class="bg-ess-blue rounded-top">Dive right in!</h4>
                    <p class="m-3"><%= link_to('Start a project', new_project_path) %> and receive interactive guidance on making your team Agile. Use <%= link_to('User Stories', 'https://searchsoftwarequality.techtarget.com/definition/user-story') %>, and start a <%= link_to('Scrum Sprint', 'https://www.visual-paradigm.com/scrum/what-is-sprint-in-scrum/') %>. As you build out your project and team, you will see suggestions to help you follow best practices. Sprint planning, sprint review, and daily scrum meeting times must be scheduled during which specific actions are available.</p>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 115px;">
    </div>
    <div class="row fixed-bottom">
        <div class="col-12">
            <div class="bg-ess-blue rounded p-1 mt-2">
                <div class="d-flex flex-row bg-lavender p-3 rounded shadow justify-content-center">
                    <em>Thanks for visiting our platform! It is still in beta, but v1.0 is around the corner...</em>
                </div>
            </div>
        </div>
    </div>


</div><!-- content-container - container-lg (responsive) -->