<% content_for :title, 'Home' %>

<% @current_link = {'Home' => root_path} %>
<% @dropdown_links = {'' => []} %>
<% if user_signed_in? %>
    <% @available_links = [{'Profile' => profile_path(current_user.id)}] %>
    <% @dropdown_links = {'Projects' => [{'New project' => new_project_path}]} %>
    <% if Profile.exists?(user_id: @current_user.id) %>
        <% Profile.find_by(user_id: @current_user.id).user_information_safe['projects'].each do |p| %>
            <% project = Project.find(p.keys.first) %>
            <% @dropdown_links['Projects'] << {project.project_name => project_path(project.id)} %>
        <% end %>
    <% end %>
<% else %>
    <% @available_links = [{'Sign in' => new_user_session_path}, {'Sign up' => new_user_registration_path}] %>
<% end %>
<%= render 'shared/navbar' %>




<!-- content-container - container-lg (responsive) -->
<div id="content-container" class="container-fluid">


    <div class="row mt-2">
        <div class="col-12">
            <div class="d-flex flex-row">
                <h1>Welcome to <strong class="border-bottom border-mountbatten">devbackbone</strong>!<br>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted"><strong>The perfect place to learn <strong class="text-eton-blue border-bottom border-eton-blue">Agile </strong>and scrum team development practices!</small></h1>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <div class="column rounded text-center shadow bg-lavender px-0 w-100 mr-2">
                    <h4 class="bg-eton-blue rounded-top">What is Agile?</h4>
                    <p class="mt-3">Agile is a <%= link_to('nonprescriptive process model', 'https://medium.com/omarelgabrys-blog/software-engineering-software-process-and-software-process-models-part-2-4a9d06213fdc') %> for the development of software. Agile delivers a higher rate of success in software development by focusing not on <%= link_to('documentation', 'https://medium.com/it-dead-inside/technical-documentation-a-different-approach-af49cadfcfbc') %> or following a plan, but instead has working iteratations with constant client feedback. Those who are new to Agile should check out the <em><%= link_to('Agile Manifesto', 'https://agilemanifesto.org/') %></em>.</p>
                </div>
                <div class="column rounded text-center shadow bg-lavender px-0 w-100 ml-2">
                    <h4 class="bg-eton-blue rounded-top">Dive right in!</h4>
                    <p class="mt-3"><%= link_to('Start a project', new_project_path) %> and receive interactive guidance on making your team Agile.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row mt-2">
        <div class="col-12">
            <div class="py-1">
                <div class="row mx-1">
                    <h1>Welcome to <strong class="border-bottom border-mountbatten">devbackbone</strong>!<br>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted"><strong>The perfect place to learn <strong class="text-eton-blue border-bottom border-eton-blue">Agile </strong>and scrum team development practices!</small></h1>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div class="col-4 rounded text-center shadow px-0 mx-1 bg-lavender">
                        <h4 class="bg-eton-blue mx-0">Dive right in!</h4>
                    </div>
                    <div class="col-4 rounded text-center shadow px-0 mx-1 bg-lavender">
                        <h4 class="bg-eton-blue mx-0">Dive right in!</h4>
                        <%= link_to('Start a project', new_project_path) %> and receive interactive guidance on making your team Agile.</p>
                    </div>
                    <div class="col-4 rounded text-center shadow px-0 mx-1 bg-lavender">
                    </div>
                </div>
            </div>
        </div>
    </div> -->



</div><!-- content-container - container-lg (responsive) -->