<% content_for :title, @project.project_name %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" integrity="sha512-/Ae8qSd9X8ajHk6Zty0m8yfnKJPlelk42HTJjOHDWs1Tjr41RfsSkceZ/8yyJGLkxALGMIYd5L2oGemy/x1PLg==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js" integrity="sha512-2xXe2z/uA+2SyT/sTSt9Uq4jDKsT0lV4evd3eoE/oxKih8DSAsOF6LUb+ncafMJPAimWAXdu9W+yMXGrCVOzQA==" crossorigin="anonymous"></script>

<% @reflex_variables = { project_id: @project_id, user_id: @current_user.id, backbone_document: @backbone_document, search_information: @search_information, new_user_story: @new_user_story, reflex_pages: @reflex_pages, hidden_types: @hidden_types, dismissed: @dismissed } %>

<% @dropdown_links = { '' => [] } %>
<% @available_links = [{'Profile' => profile_path(current_user.id)}] %>
<%= render 'shared/navbar' %>

<!-- content-container - container-lg (responsive) -->
<div id="content-container" class="container-fluid w-100">

    <div class="row border-bottom border-mountbatten pb-1 mb-2">
        <div class="col-12 col-md-6 d-flex order-last order-md-first justify-content-between">
            <% @reflex_pages['buttons'].each do |button, bool| %>
                <% if !@reflex_pages['buttons'][button] %>
                    <%= content_tag(:a, button.capitalize, id: "#{button}-button", class: 'd-flex flex-column text-eton-blue h4 justify-content-center mt-3 hand', data: { reflex: 'click->EditProject#show_page', vars: @reflex_variables, button: button }) %>
                <% else %>
                    <%= content_tag(:p, button.capitalize, id: "#{button}-button", class: 'd-flex flex-column text-mountbatten h4 justify-content-center mt-2 mb-0', style: 'font-size: 1.8rem;') %>
                <% end %>
            <% end %>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end" style="margin-top: -0.5%; margin-bottom: -1.5%;">
            <div id="show-project-header" class="display-4 text-ess-blue">
                <%= link_to @project.project_name, project_path(@project.id), class: 'text-eton-blue', style: 'text-shadow: 3px 3px #987284;' %>&nbsp;
            </div>
        </div>
    </div>

    <div>
        <% if @reflex_pages['dashboard'] %>
            <%= render 'projects/show/dashboard' %>
        <% elsif @reflex_pages['backlog'] %>
            <%= render 'projects/show/backlog' %>
        <% elsif @reflex_pages['sprint'] %>
            <%= render 'projects/show/sprint' %>
        <% end %>
    </div>

    <% if @weaknesses != [] %>
        <div id="backbone-weaknesses" class="fixed-bottom">
            <% @weaknesses.each do |w| %>
                <% if !@dismissed.include?(w) %>
                    <div class="d-flex justify-content-end slide-in-slow px-1" style="opacity: .7; width: 100%;">
                        <em class="alert alert-middle-grey shadow border border-eton-blue mb-1 pl-2" role="alert">
                            <%= button_tag(raw(render 'shared/exit'), class: 'btn btn-danger btn-sm py-0', style: 'position:absolute; top: 0; right: 0; height: 20px; width: 20px; margin-top:2px; margin-right: 2px;', data: { reflex: 'click->ProjectDashboard#dismiss_weakness', vars: @reflex_variables, weakness: w }) %>
                            <%= render 'shared/warn' %>
                            &nbsp;
                            <span class="border-bottom border-warning"><%= w %></span>
                            &nbsp;
                            &nbsp;
                        </em>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>

</div><!-- content-container - container-lg (responsive) -->

