<% content_for :title, @project.project_name %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" integrity="sha512-/Ae8qSd9X8ajHk6Zty0m8yfnKJPlelk42HTJjOHDWs1Tjr41RfsSkceZ/8yyJGLkxALGMIYd5L2oGemy/x1PLg==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js" integrity="sha512-2xXe2z/uA+2SyT/sTSt9Uq4jDKsT0lV4evd3eoE/oxKih8DSAsOF6LUb+ncafMJPAimWAXdu9W+yMXGrCVOzQA==" crossorigin="anonymous"></script>

<% @reflex_variables = { backbone_document: @backbone_document, search_information: @search_information, new_user_story: @new_user_story, reflex_pages: @reflex_pages, project_edited: @project_edited } %>

<% @dropdown_links = [] %>
<% @available_links = [{'Profile' => profile_path(current_user.id)}] %>
<%= render 'shared/navbar' %>

<!-- content-container - container-lg (responsive) -->
<div id="content-container" class="container-fluid w-100">
    <div class="row bg-smoky-black shadow">
        <div class="col-6 d-flex justify-content-start pl-0">
            <% @reflex_pages['buttons'].each do |button, bool| %>
                <% if !@reflex_pages['buttons'][button] %>
                    <%= button_tag(button, id: "#{button}-button", class: 'btn btn-outline-ess-blue m-0 h-100 rounded-0', value: button, data: { reflex: 'click->EditProject#show_page', vars: @reflex_variables }) %>
                <% else %>
                    <%= button_tag(button, id: "#{button}-button", class: 'btn btn-ess-blue m-0 h-100 rounded-0', value: button, disabled: true) %>
                <% end %>
            <% end %>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <div id="show-project-header" class="display-4 text-ess-blue">
                <%= link_to @project.project_name, project_path(@project.id), class: 'text-ess-blue' %>
            </div>
        </div>
    </div>
    <% if @weaknesses != [] %>
        <div id="backbone-weaknesses">
            <% @weaknesses.each do |w| %>
                <p class="weakness mb-0"><%= w %></p>
            <% end %>
        </div>
    <% end %>

    <% if @reflex_pages['dashboard'] %>
        <%= render 'projects/show/dashboard' %>
    <% elsif @reflex_pages['team'] %>
        <%= render 'projects/show/team' %>
    <% elsif @reflex_pages['scrum'] %>
        <%= render 'projects/show/scrum' %>
    <% elsif @reflex_pages['backlog'] %>
        <%= render 'projects/show/backlog' %>
    <% end %>

    <% if @project_edited %>
        <%= form_for @project, :method => :PUT do |f| %>
            <%= f.hidden_field(:backbone_document, value: @backbone_document) %>
            <%= f.submit('save changes', style: 'margin-bottom: 50px;') %>
        <% end %>
    <% end %>
</div><!-- content-container - container-lg (responsive) -->

