<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" integrity="sha512-/Ae8qSd9X8ajHk6Zty0m8yfnKJPlelk42HTJjOHDWs1Tjr41RfsSkceZ/8yyJGLkxALGMIYd5L2oGemy/x1PLg==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js" integrity="sha512-2xXe2z/uA+2SyT/sTSt9Uq4jDKsT0lV4evd3eoE/oxKih8DSAsOF6LUb+ncafMJPAimWAXdu9W+yMXGrCVOzQA==" crossorigin="anonymous"></script>


<% @reflex_variables = { backbone_document: @backbone_document, search_information: @search_information, reflex_pages: @reflex_pages, project_edited: @project_edited } %>



<h1 id="show-project-header"><%= @project.project_name %></h1>


<% if @weaknesses != [] %>
    <div id="backbone-weaknesses">
        <% @weaknesses.each do |w| %>
            <p class="weakness"><%= w %></p>
        <% end %>
    </div>
<% end %>

<% @reflex_pages['buttons'].each do |button, bool| %>
    <% if !@reflex_pages['buttons'][button] %>
        <%= button_tag(button, id: "#{button}-button", value: button, data: { reflex: 'click->EditProject#show_page', vars: @reflex_variables }) %>
    <% else %>
        <%= button_tag(button, id: "#{button}-button", value: button, disabled: true) %>
    <% end %>
<% end %>

<% if @reflex_pages['dashboard'] %>
    <%= render 'projects/show/dashboard' %>
<% elsif @reflex_pages['team'] %>
    <%= render 'projects/show/team' %>
<% elsif @reflex_pages['scrum'] %>
    <%= render 'projects/show/scrum' %>
<% end %>

<% if @project_edited %>
    <%= form_for @project, :method => :PUT do |f| %>
        <%= f.hidden_field(:backbone_document, value: @backbone_document) %>
        <%= f.submit('save changes') %>
    <% end %>
<% end %>
