<% messages = [] %>
<% entries = [] %>
<% type_metas = [] %>
<% ChangeLog.find_by(project_id: params[:id]).entries.each do |e| %>
    <% if !messages.include?(e.message) %>
        <% messages << e.message %>
        <% entries << e %>
        <% if !type_metas.include?(e.type_meta) %>
            <% type_metas << e.type_meta %>
        <% end %>
    <% end %>
<% end %>
<div class="p-1 rounded bg-middle-grey shadow slide-in">
    <div class="d-flex flex-row">
        <div class="col-2 px-0 d-flex justify-content-start">
            <div class="dropdown">
                <%= button_tag(raw("#{render "shared/filter"}&nbsp;Filter"), class: 'btn btn-lavender mb-1 dropdown-toggle', type: "button", id: "dropdownMenuButton", data: { toggle: "dropdown" }) %>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% type_metas.each do |tm| %>
                        <% if @hidden_types.include?(tm) %>
                            <%= link_to(tm, '#', class: 'dropdown-item bg-middle-grey', data: { reflex: 'click->ProjectDashboard#show_meta', vars: @reflex_variables, meta: tm }) %>
                            <%# <a class="dropdown-item bg-middle-grey"> %>
                                <%# tm %>
                            <%# </a> %>
                        <% else %>
                            <%= link_to(tm, '#', class: 'dropdown-item', data: { reflex: 'click->ProjectDashboard#hide_meta', vars: @reflex_variables, meta: tm }) %>
                            <%# <a class="dropdown-item"> %>
                                <%# tm %>
                            <%# </a> %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-5 offset-5 px-0">
            <div class="d-flex flex-row input-group">
                <%= text_field_tag('post-message', @post, class: 'form-control', data: { reflex: 'keyup->ProjectDashboard#build_post', vars: @reflex_variables}) %>
                <%= content_tag(:span, raw("#{render "shared/post"}"), id: 'post-button', class: 'input-group-addon bg-ess-blue rounded-right pt-2 px-2', data: { reflex: 'click->ProjectDashboard#post', vars: @reflex_variables, message: @post }) %>
            </div>
        </div>
    </div>
    <div class="bg-lavender p-1 border border-eton-blue">
        <% if entries.size < 1 %>
            <div class="d-flex flex-row justify-content-center mb-1 rounded">
                <div class="col-12 p-0">
                    <div class="d-flex flex-row display-4 justify-content-center text-middle-grey">
                        <em>No activity yet...</em>
                    </div>
                </div>
            </div>
        <% else %>
            <% entries.reverse_each do |e| %>
                <% if !@hidden_types.include?(e.type_meta) %>
                    <%= render "projects/show/dashboard/activity/#{e.type_meta}", entry: e %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>
