
<div id="scrum-container" class="row slide-in">
    <div class="col-12">
        <div class="bg-lavender px-4 py-4 rounded shadow">
            <div class="row mb-4">
                <div class="col-3">
                    <h4 id="sprint-header">Sprint Schedule:<h4>
                </div>
                <div class="col-9">
                    <% @backbone_document['sprint'].each do |item, time| %>
                        <% datetime = { 'date' => true, 'time' => false } %>
                        <% item_css_formatted = item.gsub('_', '-') %>
                        <% item_copy_formatted = item.gsub('_', ' ') %>
                        <% if item.split('_').size > 1 %>
                            <% if item.split('_')[0] != 'sprint' %>
                                <% datetime['date'] = false %>
                            <% end %>
                            <% datetime['time'] = true %>
                        <% end %>
                        <% if time != '' %>
                            <% if time.class == String %>
                                <% time = Time.parse(time) %>
                            <% end %>
                            <% if item == 'daily_scrum'%>
                                <% time = time.strftime("%r") %>
                            <% elsif item.split('_').size < 2 %>
                                <% time = time.strftime("%A, %B %d, %Y") %>
                            <% else %>
                                <% time = time.strftime("%A, %B %d, %Y, %r") %>
                            <% end %>
                        <% else %>
                            <% time = 'not set' %>
                        <% end %>
                        <div class="d-flex flex-row justify-content-between border-bottom">
                            <%= label(item_copy_formatted, "#{item_copy_formatted}:", id: "sprint-#{item_css_formatted}") %>
                            <% if @scrum_editing_privileges %>
                                <% if datetime['date'] %>
                                    <div id="scrum-edit-date" class="input-group date h-100 w-75 ml-2" data-provide="datepicker">
                                        <%= text_field_tag("#{item_css_formatted}-date-input", time, id: "#{item_css_formatted}-date-input", type: 'text', class: 'form-control', data: { reflex: 'click->EditProject#change_date', vars: @reflex_variables, item: item }, :readonly => true) %>
                                        <%= render 'shared/datepicker' %>
                                    </div>
                                <% end %>
                                <% if datetime['time'] %>
                                    <div id="scrum-edit-time" class="scrum-edit input-group date h-100 w-75 ml-2" data-provide="timepicker">
                                        <%= text_field_tag("#{item_css_formatted}-time-input", time, id: "#{item_css_formatted}-time-input", type: 'text', class: 'form-control', data: { reflex: 'click->EditProject#change_time', vars: @reflex_variables, item: item }, :readonly => true) %>
                                        <%= render 'shared/timepicker' %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
