
<div id="team-container" class="d-flex flex-row slide-in">
    <div class="col-12 bg-middle-grey shadow rounded p-1">
        <h4 id="team-leadership-header" class="mb-1 mt-1 text-lavender">Team leadership:</h4>
        <div class="bg-lavender border-border-eton-blue px-2 pt-4 pb-2 shadow">
            <div class="row mb-4">
                <div class="col-12">
                    <% @backbone_document['leaders'].each do |role, user| %>
                        <% role_css_formatted = role.gsub('_', '-') %>
                        <% role_copy_formatted = role.gsub('_', ' ') %>
                        <% profiles = Profile.where(user_id: user.first) %>
                        <% first_name, last_name, profile_id = '', '', 0 %>
                        <% if profiles.size == 0 %>
                            <% first_name, last_name, profile_id = 'Not', 'set', 0 %>
                        <% else %>
                            <% profiles.each do |profile| %>
                                <% user_information = profile.user_information_safe %>
                                <% first_name, last_name, profile_id = user_information['first_name'], user_information['last_name'], profile.id %>
                            <% end %>
                        <% end %>
                        <div class="d-flex flex-row justify-content-between pb-1 mb-1 border-bottom">
                            <div class="col-2">
                                <%= label(role_copy_formatted, "#{role_copy_formatted}:", id: "#{role_css_formatted}-#{first_name.gsub(' ', '')}-#{last_name.gsub(' ', '')}") %>
                            </div>
                            <% if !@owner_editing_privileges %>
                                <%= link_to("#{first_name} #{last_name}", profile_path(profile_id)) %>
                            <% else %>
                                <% if !@reflex_pages["#{role_copy_formatted}"] %>
                                    <%= link_to("#{first_name} #{last_name}", profile_path(profile_id)) %>
                                    <div>
                                        <%= button_tag('edit', id: "change-#{role_css_formatted}", class: 'btn btn-outline-smoky-black btn-sm', value: role_copy_formatted, data: { reflex: 'click->EditProject#toggle_page_item', vars: @reflex_variables }) %>
                                    </div>
                                <% else %>
                                    <div class="col-10">
                                        <div class="d-flex flex-row justify-content-end">
                                            <%= text_field_tag("search-for-#{role_css_formatted}", nil, placeholder: 'search', id: "#{role_css_formatted}-search", data: { reflex: 'keyup->EditProject#edit_search_query', vars: @reflex_variables }) %>
                                            <%= button_tag('done', id: "change-#{role_css_formatted}", class: 'btn btn-outline-smoky-black btn-sm', value: role_copy_formatted, data: { reflex: 'click->EditProject#toggle_page_item', vars: @reflex_variables }) %>
                                        </div>
                                        <div class="d-flex flex-row">
                                            <div class="col-12">
                                                <div class="d-flex flex-row justify-content-start mt-2">
                                                    <%= link_to("#{first_name} #{last_name}", profile_path(profile_id)) %>
                                                </div>
                                                <% Profile.all_containing(@search_information).each do |p| %>
                                                    <% if p.id != profile_id %>
                                                        <% user_info = p.user_information_safe %>
                                                        <div class="d-flex flex-row justify-content-end mt-2">
                                                            <%= link_to("#{user_info['first_name']} #{user_info['last_name']}", profile_path(p.id)) %>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-end mt-2">
                                                            <%= content_tag(:p, user_info['user_bio']) %>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-end mt-2">
                                                            <%= button_tag("make #{user_info['first_name']} #{user_info['last_name']} #{role_copy_formatted}", id: "make-#{user_info['first_name'].gsub(' ', '')}-#{user_info['last_name'].gsub(' ', '')}-#{role_css_formatted}", class: 'btn btn-outline-smoky-black btn-sm', data: { reflex: 'click->EditProject#change_leader_role', vars: @reflex_variables, role: role, user_id: p.user_id }) %>
                                                        </div>
                                                    <% end %>
                                                <% end %>
                                            </div>
                                        </div>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <h4 id="development-team-header" class="mt-2 mb-1 text-lavender">Development team:</h4>
        <div class="bg-lavender border-border-eton-blue px-2 pt-4 pb-2 shadow">
            <div class="row mb-4">
                <div class="col-12">
                    <% @backbone_document['development_team'].each do |subset, members| %>
                        <% subset_css_formatted = subset.gsub('_', '-') %>
                        <% subset_copy_formatted = subset.gsub('_', ' ') %>
                        <div class="d-flex flex-row justify-content-between pb-1 mb-1 border-bottom">
                            <div class="col-2">
                                <%= label(subset_copy_formatted, "#{subset_copy_formatted}:", id: subset_css_formatted) %>
                            </div>
                            <% if !@owner_editing_privileges %>
                                <% members.each do |user_id| %>
                                    <% profile = Profile.find_by(user_id: user_id) %>
                                    <% user_info = profile.user_information_safe %>
                                    <%= link_to("#{user_info['first_name']} #{user_info['last_name']}", profile_path(profile.id)) %>
                                <% end %>
                            <% else %>
                                <% if !@reflex_pages["#{subset_copy_formatted}"] %>
                                    <% members.each do |user_id| %>
                                        <% profile = Profile.find_by(user_id: user_id) %>
                                        <% user_info = profile.user_information_safe %>
                                        <%= link_to("#{user_info['first_name']} #{user_info['last_name']}", profile_path(profile.id)) %>
                                    <% end %>
                                    <div>
                                        <%= button_tag("edit", id: "edit-#{subset_css_formatted}", class: 'btn btn-outline-smoky-black btn-sm', value: subset_copy_formatted, data: { reflex: 'click->EditProject#toggle_page_item', vars: @reflex_variables }) %>
                                    </div>
                                <% else %>
                                    <div class="col-10">
                                        <div class="d-flex flex-row justify-content-end">
                                            <%= text_field_tag("search-for-#{subset_css_formatted}", nil, placeholder: 'search', id: "#{subset_css_formatted}-search", data: { reflex: 'keyup->EditProject#edit_search_query', vars: @reflex_variables }) %>
                                            <%= button_tag("done", id: "edit-#{subset_css_formatted}", class: 'btn btn-outline-smoky-black btn-sm', value: subset_copy_formatted, data: { reflex: 'click->EditProject#toggle_page_item', vars: @reflex_variables }) %>
                                        </div>
                                        <div class="d-flex flex-row">
                                            <div class="col-12">
                                                <% members.each do |user_id| %>
                                                    <% profile = Profile.find_by(user_id: user_id) %>
                                                    <% user_info = profile.user_information_safe %>
                                                    <div class="d-flex flex-row justify-content-start mt-2">
                                                        <%= link_to("#{user_info['first_name']} #{user_info['last_name']}", profile_path(profile.id)) %>
                                                    </div>
                                                    <div class="d-flex flex-row justify-content-start text-left">
                                                        <%= user_info['user_bio'] %>
                                                    </div>
                                                    <div class="d-flex flex-row justify-content-start">
                                                        <%= button_tag("remove #{user_info['first_name']} #{user_info['last_name']} from #{subset_copy_formatted}", class: 'btn btn-outline-danger btn-sm', id: "remove-#{user_info['first_name'].gsub(' ', '')}-#{user_info['last_name'].gsub(' ', '')}-from-#{subset_css_formatted}", data: { reflex: 'click->EditProject#remove_user_from_subset', vars: @reflex_variables, subset: subset, user_id: user_id }) %>
                                                    </div>
                                                <% end %>
                                                <% Profile.all_containing(@search_information).each do |p| %>
                                                    <% if !members.include?(p.user_id) %>
                                                        <% user_info = p.user_information_safe %>
                                                        <div class="d-flex flex-row justify-content-end mt-2">
                                                            <%= link_to("#{user_info['first_name']} #{user_info['last_name']}", profile_path(p.id)) %>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-end">
                                                            <%= user_info['user_bio'] %>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-end">
                                                            <%= button_tag("add #{user_info['first_name']} #{user_info['last_name']} to #{subset_copy_formatted}", id: "add-#{user_info['first_name'].gsub(' ', '')}-#{user_info['last_name'].gsub(' ', '')}-to-#{subset_css_formatted}", class: 'btn btn-outline-success btn-sm', data: { reflex: 'click->EditProject#add_user_to_subset', vars: @reflex_variables, subset: subset, user_id: p.user_id }) %>
                                                        </div>
                                                    <% end %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

            
