<!DOCTYPE html>
<html>
  <head>
    <title>BackboneBdd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# notice bar - flex-row %>
    <div id="flash">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: 'flash-content' %>
      <% end %>
    </div><%# notice bar - flex-row %>
    <% if user_signed_in? %>
      <%= link_to('Sign out', destroy_user_session_path, method: :delete, id: 'sign-out') %>
    <% else %>
      <%= link_to('Sign in', new_user_session_path, method: :get, id: 'sign-in') %>
    <% end %>
    <%= yield %>
  <script>
    window.onload = function() {
      // var bootstrap_enabled = (typeof $().modal == 'function');
      // if (window.jQuery) {  
      //   // jQuery is loaded  
      //   alert("Yeah!");
      // } else {
      //   // jQuery is not loaded
      //   alert("Doesn't Work");
      // }
    }
  </script>
  </body>
</html>
