<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | backbone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>


    <%# notice bar - container-fluid %>
    <div id="flash" class="container-fluid d-flex justify-content-center" style="position: fixed; z-index: 100;">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, raw("<em>#{msg}</em>"), id: 'flash-content', class: 'text-light mt-3', style: 'position: fixed;' %>
      <% end %>
    </div><%# notice bar - container-fluid %>


    <%# yield-container %>
    <div id="yield-container">
      <%= yield %>
    </div><%# yield-container %>
    

  <script>
    window.onload = function() {
      var bootstrap_enabled = (typeof $().modal == 'function');
      var flash = $('#flash');
      function fadeOut() {
        flash.addClass('fade-out')
      }
      function removeElement() {
        flash.addClass('d-none');
        flash.removeClass('d-flex');
      }
      setTimeout(fadeOut, 1500);
      setTimeout(removeElement, 8000);
    }
  </script>
  </body>
</html>
